<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Appsettings.Standard"/>
    <add assembly="NLog.Extensions.AzureStorage" />
  </extensions>

  <!-- optional, add some variables -
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="App" value="Api.Kitchen" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs....
   -->
  <targets>
    <target name="azureBlobStorageAsync" xsi:type="AsyncWrapper">
		<target name="File" xsi:type="File"  fileName="C:\Logging\Sample-${date:format=yyyy-MM-dd}.csv">
        <layout type="CsvLayout">
          <attribute name="date" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="logger" layout="${logger}" />
          <attribute name="tread" layout="${threadname}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=tostring}" />
          <attribute name="hostname" layout="${machinename}" />
          <attribute name="app" layout="${var:App}" />
        </layout>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="File"/>
  </rules>
</nlog>
